/* 
    Created on : 
    Author     : 
    File        : estilo9.css
    Description : Trabajando con selectores
*/
.padre ~ p {border: 1px solid red;}
a[title]{color:#009cde;}
a[title='Titulo hijo 1']{background-color: red;}
a[title~='hijo']{font-size: 2em;}




